h2 {
    margin: 0 auto;
    padding: 30px 0 0 0;
}
.book-item {
 width: 240px;
 border: 1px solid olive;
 margin: 0 auto;
 padding: 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
}
.book-info {
    display: flex;
    align-items: baseline;
}